# IDE directories
.idea/
.vscode/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# embedded binary source files
bindata.go

# Test binary, built with `go test -c`
*.test

# test outputs
coverage.txt

# Output of the go coverage tool
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Secrets
config.yaml
