# sample unit file for sandpiper service running under linux systemd
# this file would be copied to /etc/systemd/system/

[Unit]
Description=Sandpiper Primary Server

[Service]
Type=simple
ExecStart=/home/ubuntu/sandpiper/api
WorkingDirectory=/home/ubuntu/sandpiper
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target